<header>
  <div class="header-logo">
    <a href="/">Twitter2</a>
  </div>
  <ul class="header-menus">
    <a href="/about"><li>Twitter2とは</li></a>
  </ul>
</header>
<div class="about-main">
  <h2>Tweet2とは</h2>
  <p>
    だれも社会や政治の話をせず、毎日みんなでアニメを観たりゲームをしたりして1日がおわるマジで楽しいSNSサービスです。
  </p>
</div>