<header>
  <div class="header-logo">
    <a href="/">Twitter2</a>
  </div>
  <ul class="header-menus">
    <a href="/about"><li>Twitter2とは</li></a>
  </ul>
</header>
<div class="main top-main">
    <div class="top-message">
        <h2>Hello world!</h2>
    </div>
</div>